/* *********************************** */
/* Game display & Page Background */
body {
    color: #118AB2;
    margin: 0;
    font-family: Poppins, Roboto;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.43;
    background-color: #141414;
}

.canvas-holder canvas {
    padding: 0;
    margin: auto;
    display: block;
    height: 100vh;
    width: auto;
    max-width: 100%;
    background-color: black;
}

.game-hud {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -5px);
    z-index: 1;

    background-color: rgba(255, 255, 255, 0.5);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    border: 1px #118AB2;
    border-radius: 5px;
}

.game-hud p {
    margin: 0;
    padding: 0;
    font-size: 3vh;
    text-align: center;
}

.menu {
    text-align: center;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid #118AB2;
    border-radius: 5px;
    padding: 12px;
    min-width: 400px;
}

.menu-button {
    background-color: #fff;
    border-radius: 5px;
    padding: 12px;
    margin-bottom: 8px;
    cursor: pointer;
}

.menu-button:hover {
    background-color: #d0d0d0;
}


/*
#body {
    width: 240px;
    height: 240px;
    background-color: #000;
    background-image: radial-gradient(#000 10%, transparent 11%),
        radial-gradient(#06D6A0, transparent 11%);
    background-size: 2px 2px;
    background-position: 0 0, 30px 30px;
    background-repeat: repeat;
}

#game {
    width: 496px;
    height: 480px;
    margin: 0 auto;
}

#contentGame {
    width: 100%;
    margin: 20px 0px 0px 0px;
    display: none;
    float: left;
}

/* Scoreboard */
/*#player,
#score,
#lifeCounter {
    padding: 3px;
    font-size: 17px;
    font-weight: bold;
    display: block;
    float: left;
}

#score {
    font-weight: bold;
    border-bottom: 1px solid #FFD166;
}

#player {
    width: 100px;
    margin: 0px 106px 0px 0px;
}

#lifeCounter {
    width: 100px;
    margin: 0px 106px 0px 0px;
    background: url('') no-repeat center center #06D6A0;
}

/* Start Screen */
/*#contentStartScreen {

    width: 100%;
    display: block;
    float: left;
}

.startGraphic {
    width: 550px;
    height: 453px;
    background-image: url('https: //photos.google.com/u/0/album/AF1QipOXrLta2vWQpxfeeBULvHM-IOmon0o9YA_hPcK7/photo/AF1QipP1LnZIBVLoBd4Cwp77smSuuJftpYNhIGqmPmCM');
}

*/
/* Game Field */
 /* function startGame() {
blaster=new component(30, 30, "red", 10, 120);
blaster.gravity=0.05;
score=new component("30px", "Consolas", "black", 280, 40, "text");
gameState.start();
}

var myGameArea= {

    canvas : document.createElement("canvas"),
    start : function() {
        this.canvas.width=1281; /*480, 270*/
        /* this.canvas.height=744;
        this.context=this.canvas.getContext("2d");
        document.body.insertBefore(this.canvas, document.body.childNodes[0]);
        this.frameNo=0;
    }

    ,
    clear : function() {
        this.context.clearRect(0, 0, this.canvas.width, this.canvas.height);
    }
}  */

/* End Screen Graphics */
/*.leftEndscreenGraphic {
    width: 230px;
    height: 500px;
    background: url('https: //photos.google.com/u/0/album/AF1QipOXrLta2vWQpxfeeBULvHM-IOmon0o9YA_hPcK7/photo/AF1QipOkYGzxp8R50H_o41D5UEZur_2_-eEip1auI24V')no-repeat center center #EF476F;
    border: #FFD166 1px solid;
    margin: 50px auto;
    display: block;
}

.rightEndscreenGraphic {
    width: 230px;
    height: 500px;
    background: url('https: //photos.google.com/u/0/album/AF1QipOXrLta2vWQpxfeeBULvHM-IOmon0o9YA_hPcK7/photo/AF1QipPhO3JwyNd9d97Un7Sr7P1BwWtiP_49bOKltsEF')no-repeat center center #EF476F;
    border: #FFD166 1px solid;
    margin: 50px auto;
    display: block;
}

/* Start Button */
/*/*.start {
    width: 110px;
    margin: 0px auto;
    display: block;
}

*/
/* Bug Blaster */
/*.blasterMoveLeft,
.blasterMoveRight,
.blasterPew,
.blasterAntimatter {
    width: 35px;
    height: 25px;
    line-height: 25px;
    background: #EF476F;
    font-family: arial;
    font-size: 11px;
    text-transform: uppercase;
    color: #06D6A0;
    text-align: center;
    margin: 0px 5px;
    border-radius: 3px;
    display: block;
    float: left;
}
*/
/*
.blasterMoveLeft::before,
.blasterMoveRight::before {
    content: '';
    width: 13px;
    height: 11px;
    background: url('') no-repeat 0 -99px;
    margin: 7px auto;
    display: block;
}

.blasterMoveRight::before {
    background: url('') no-repeat -14px -99px;
}

.blasterPew,
.blasterAntimatter {
    width: 65px;
}
*/